
.contatiner{
    /* max-width: 50%; */
    text-align: center;
}

/*
* Custom translucent site header
*/

.site-header {
background-color: rgba(0, 0, 0, .85);
-webkit-backdrop-filter: saturate(180%) blur(20px);
backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
color: #8e8e8e;
margin-right: 20px;
transition: color .15s ease-in-out;
}
.site-header a:hover {
color: #fff;
text-decoration: none;
}

/*
* Dummy devices (replace them with your own or something else entirely!)
*/

.flex-equal > * {
flex: 1;
}
@media (min-width: 768px) {
.flex-md-equal > * {
  flex: 1;
}
}